<head>
    <title>Data Structures in Python</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css">
</head>

<body>
    <div class="container">
        <h1>Data Structures in Python</h1>
        <p>Data structures in Python allow you to store and organize data efficiently. Here are some common data
            structures:</p>
        <ul>
            <li><strong>Lists:</strong> Ordered, mutable collections of items.</li>
            <li><strong>Dictionaries:</strong> Unordered collections of key-value pairs.</li>
            <li><strong>Sets:</strong> Unordered collections of unique elements.</li>
            <li><strong>Tuples:</strong> Ordered, immutable collections of items.</li>
        </ul>

        <h2>Examples:</h2>
        <h3>Lists:</h3>
        <pre>
        <code class="language-python">
my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # Output: 1
my_list.append(6)  # Adding an element
print(my_list)     # Output: [1, 2, 3, 4, 5, 6]
        </code>
        </pre>

        <h3>Dictionaries:</h3>
        <pre>
        <code class="language-python">
my_dict = {'name': 'John', 'age': 30}
print(my_dict['name'])  # Output: John
my_dict['city'] = 'New York'  # Adding a key-value pair
print(my_dict)             # Output: {'name': 'John', 'age': 30, 'city': 'New York'}
        </code>
        </pre>
        <br><br>
        <a href="/">Go Back Home</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
</body>