<head>
    <title>Learn Python | Home</title>
</head>

<style>
    .centered-div a {
        display: block;
        margin-bottom: 10px;
        color: black;
        text-decoration: none;
    }

    .centered-div a:hover {
        color: rgb(146, 146, 146);
    }

    .centered-div {
        text-align: center;
        margin-top: 30px;
        border: 1px solid black;
        background-image: linear-gradient(264deg, #ffffff, #fffefe);
    }

    .centered-div h1 {
        font-size: 50px;
    }
</style>

<body>
    <div class="centered-div">
        <h1>📖 Learn Python 📖</h1>
        <a href="/data_types/">Data Types</a>
        <a href="/data_structures/">Data Structures</a>
        <a href="/conditionals/">Conditionals</a>
        <a href="/loops/">Loops</a>

        <a href="/functions/">Functions</a>
        <a href="/classes/">Classes</a>
        <a href="/advanced_topics/">Advanced Topics</a>

        <br>
        <div class="about-section">
            <p>This application was created by Greg Hogg, CEO of MLNOW.ai. This website is powered by Flask, a Python web framework.</p>
            <p>It is hosted and deployed on PythonAnywhere, a cloud-based platform that allows you to run Python web applications in the cloud.</p>
        </div>
    </div>
</body>